html
	head
		meta(name="viewport",content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0")
		script(src='javascripts/jquery-1.10.2.min.js')
		script(src='javascripts/jquery.cookie.js')
		script(src='/socket.io/socket.io.js')
		script(src='javascripts/controller.js')
		link(rel='stylesheet', href='/stylesheets/controller.css')
	body
		div#startPage
			div#header.center

			br
			form
				input#name.center(type='text', placeholder='ENTER NAME')
				div.center
					input#join.center(type='submit', src='/images/remote-home-join.png', value='Join', onclick="return false;") Join
			br
		div#controller
			div#pad
				audio#sound('src'= '/sounds/explosion.mp3')
				img#knob(src='/images/Remote-Joystick.png')
				img#bomb(src='/images/bomb.png')
				div#backgroundContainer
					div#nameContainer
			div#controls
				div#fireContainer
					div#fireImage
