html
	head
		meta(name="viewport",content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0")
		script(src='javascripts/jquery-1.10.2.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='javascripts/controller.js')
		link(rel='stylesheet', href='/stylesheets/controller.css')
	body
		div#startPage
			img.center(src='/images/logo.png')
			h1.center PLANES and DRAGONS
			br
			form
				input#name.center(type='text')
				br
				p#status.center Status: Offline
				br
				div.center
					input#join.center(type='submit', onclick="return false;") Join
			br
		div#controller
			div#pad
				div#info
				div#sound
				img#knob(src='/images/pad.png')
				img#bomb(src='/images/bomb.png')
			div#controls
				a#quit Quit
